body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 80%;
  border: solid 2px black;
  border-radius: 10px;
    }
    .mainBox .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
    }
    .inputs input {
  height: 40px;
    }
    .buttons .buttoncalc {
margin: 10px 0;
    }